{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Page introuvable</h1>
        <p>La page que vous cherchez n'existe pas.</p>
        <p>Rendez-vous sur la page d'accueil : <a href="{{ path('homepage') }}">ici</a></p>
    </div>
{% endblock %}
