{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Erreur</h1>
        <p>Une erreur est survenue. Déolée pour le désagrément.</p>
        <p>Veuillez recharger la page, et si le problème persiste rendez-vous sur la page d'accueil : <a href="{{ path('homepage') }}">ici</a></p>
    </div>
{% endblock %}
